/*remove extra spaces*/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
}
/* sticky header styling*/
.header_caissier {
  background-color: #262b31;
  padding: 0.75rem 1.5rem;
box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
 
  
}
/* checkbox styling  */

[type=checkbox] {
  
  width: 1.2rem;
  height: 2rem;
 background: rgb(255, 255, 255) !important;
  cursor: pointer;
  /* forced light checkbox */
 color-scheme: light;

}
/* putting the checkboxes in the header and in the data cells of the table to the right side*/
#cassier-table-container td:first-child, 
#cassier-table-container th:first-child {
  text-align: right;   /* Pushes the checkbox to the right */
}

/* Dashboard container */
#cassier-dashboard {
  padding: 0px;

  background-color: #f7f7f7;
  min-height: 100vh;
}

/* Header */
#cassier-header {
  margin-bottom: 20px;
}
/* Caissier Dashboard text*/
#cassier-header h1 {
  color: #cad0d4;
  font-size: 1.5rem;
}

/* Table container */
#cassier-table-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-top: 0.5px solid #d4cccc;
  
  overflow-x: auto;
}

/* Table styling */
#cassier-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#cassier-table th, #cassier-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
/*table header styling*/
#cassier-table th {
  background-color: #f1f1f1;
  color: #333;
}
/* this is to improve the appearance of the even table rows a little bit */ 
#cassier-table tr:nth-child(even) {
  background-color:#f9f9f9;
}
/*hover table row*/
#cassier-table tr:hover {
  background-color: #e0f7ff;
}

/* Status badges */
.status-badge {
  width: 5rem;
  padding: 4px 8px;
text-align: center;
  color: #222222;
  font-weight: bold;
  text-transform: capitalize;
  
}
/*status pending and approved*/
.status-approved {
  background-color: #28a745;
}

.status-pending {
  background-color: #ffc107;
  
}

/* Empty message */
.empty-message {
  text-align: center;
  padding: 15px;
  color: #888;
  font-style: italic;
}

/*container or h2 and button in the top of the table*/
#approve-all-container {
  padding: 20px 20px 10px 20px;
 border-top:0.5px solid rgb(208, 208, 208);
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  
 
  
}
/*Caissier Table styling*/
#approve-all-container h2 {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}
/*button Approve All styling*/
#approve-all-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  /*transition hover*/
  transition: background 0.3s;

  box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.1);
}
/*darker green color while hovering*/
#approve-all-btn:hover {
  background-color: #218838;
}

/*button after click */
 #approve-all-btn:focus {
      text-decoration: underline;
      outline: none;
     box-shadow: 0 0 0 2px hsla(151, 100%, 11%, 0.8);

 } 

/*no transactions message text*/
.empty-message {
  text-align: center !important;
  padding: 2rem !important;
  font-style: italic;
  color: #888;
}


/* buttons position fix*/

#excelDwnld {
  margin-left: 10px;
  background-color: black;
}