body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#f2f4f7;
}

/* وضع الكارد في الوسط */
.container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

/* الكارد */
form{
  width:400px;
  background:white;
  padding:35px;
  border-radius:14px;
  box-shadow:0 8px 25px rgba(0,0,0,0.08);
}

/* العنوان */
h2{
  text-align:center;
  margin-bottom:25px;
  color:#333;
}

/* المسافات بين الحقول */
.input-group{
  margin-bottom:15px;
}

/* inputs */
input,
textarea{
  width:100%;
  padding:12px;
  border:1px solid #dcdfe4;
  border-radius:8px;
  font-size:14px;
  background:#f9fafb;
  transition:0.2s;
}

/* عند الضغط */
input:focus,
textarea:focus{
  outline:none;
  border-color:#2f80ed;
  background:white;
}

/* textarea */
textarea{
  height:70px;
  resize:none;
}

/* زر submit */
 form button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#2f80ed;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
  background-color: #1c6ed5;
}


button:hover{
  background:#30878d;
}

/* رسالة الخطأ */
.error{
  color:red;
  font-size:12px;
  margin-top:4px;
}