*{
   padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}
.login_container {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
background: #2899B0;
background: linear-gradient(150deg,rgba(40, 153, 176, 1) 0%, rgba(1, 59, 166, 1) 30%, rgba(1, 59, 166, 1) 68%, rgba(40, 153, 176, 1) 100%);
}


.login_form {
  width: 100%;
  max-width: 600px;
   margin: auto;
   opacity: 0.8;
  background: rgba(0, 44, 118, 0.85);;
  padding:35px 35px 50px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  max-height: 370px;
  height: 100%;
}

.login_form h2 {
  
  text-align: center;
  margin-bottom: 25px;
  color: white;
}

.login_form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #dcdfe4;
  border-radius: 5px;
  font-size: 14px;
  background: #f9fafb;
  transition: 0.2s;
  color: black;
  margin-bottom: 15px;
}

.login_form input:focus {
  outline: none;
  border-color: #2f80ed;
  background: white;
}
label{
  color: white;
  
}
.login_form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #19adc9;
  color: white;
  font-size: 16px;
  
  cursor: pointer;
  transition: 0.3s;
  margin-top: 1.5rem;

  font-weight: bold;
}

.login_form button:hover {
  background: #1c6ed5;
}

h3{
  color: white;
  font-weight: 100;
  margin-bottom: 1rem;
  font-size: 15px;
}



.input-error {
  border: 1px solid red !important;
  outline: none;
  
}
.label-error{
  color:red;
}